.btn {
  background-color: transparent;
  border-width: 0px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
}
.btn-checked {
  color: #fec653;
  background-color: transparent;
  border-width: 0px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
